body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#app {
  text-align: center;
}

#userId {
  width: 200px;
  padding: 10px;
}

#fetchUserData {
  padding: 10px;
  cursor: pointer;
}

#userData {
  margin-top: 20px;
}